<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AZURE_OPENAI_ENDPOINT" value="{端點}" />
		<add key="AZURE_OPENAI_API_KEY" value="{API 金鑰}" />
		<add key="ASSISTANT_NAME" value="遊戲工程師" />
		<add key="ASSISTANT_INSTRUCTIONS" value="你是一名遊戲開發工程師，回答會使用繁體中文說明。" />
		<add key="AZURE_OPENAI_MODEL" value="{模型部署名稱}" />
	</appSettings>
</configuration>