<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- 應用程式設定 -->
	<appSettings>
		<!-- 群組名稱，用於查找特定的 Azure AD 群組 -->
		<add key="GroupName" value="Test3" />
		<!-- Azure AD 應用程式的客戶端 ID -->
		<add key="ClientId" value="873af8f4~~~" />
		<!-- Azure AD 租戶 ID -->
		<add key="TenantId" value="d30c40cf~~~" />
		<!-- Azure AD 應用程式的客戶端密鑰 -->
		<add key="ClientSecret" value="SVn8Q~~~~" />
	</appSettings>
</configuration>