<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 應用程式設定 -->
  <appSettings>
    <!-- Azure AD 目錄識別碼 -->
    <add key="TenantId" value="" />
    <!-- 應用程式識別碼 -->
    <add key="ClientId" value="" />
    <!-- 用戶端密碼 -->
    <add key="ClientSecret" value="" />
  </appSettings>
</configuration>
